<!-- TweetGen templates/index.html -->
{% extends 'base.html' %}

{% block content %}
    <br/>First order Markov sentence generator with scripts from <span class="text-primary">Labyrinth</span>, <span class="text-danger">Legend</span>, and <span class="text-info">The Last Unicorn</span>
    <br/>
    <div class="jumbotron">
        <span>
            {% for word in f_wordlist %}
                <span class={{ word[1] }}> {{ word[0] }} </span>
            {% endfor %}
        </span>        
        <hr class="my-4">
        <div class="row justify-content-md-center">
            <div class="col-10 justify-content-md-center">
                <form action= '/'>
                    <input type ="text" name="num" placeholder="Min # of words greater then 8">
                    <button type = "Submit">Submit</button>
                </form>
            </div>
            <div class="col-2">
                    <a class="btn btn-secondary" href="/favorite/{{ wordlist }}" role="button">Add to Favorites</a>
            </div>
        </div>
    </div>

    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Favorites</th>
            </tr>
        </thead>
        {% for fav in favorites %}
            {% include 'partials/fav_item.html' %}
        {% endfor %}
    </table>
{% endblock %}